@import "./variables.pcss";
@import "./blog-post.pcss";

body{
    margin: 0 ;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    background-color: var(--main-bg-color);
}